:root {
    --colorPrimario: blue;
    --colorSecundario: green;
    --colorGris: #3B3B3B;
    --colorBlanco: #FFFFFF;
    --colorNegro: #1F1E1E;
    --colorGrisClaro: #E1E1E1;

    --separacion: 3rem;


    --fuentePrincipal : 'Cormorant Garamond', sans-serif;
    --fuenteSecundaria : 'Roboto', serif;
    /* Cambiar fuente Secundaria */


}

html {
    box-sizing: border-box;
    font-size: 62.5%; /*Convierte 1rem a 10px */
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.4;
}

/* Globales */
h1,
h2,
h3 {
    font-weight: 900;
    font-family: var(--fuentePrincipal);
  /*   margin: var(--separacion) 0; * *// 
    /* margin: 3rem  0  (arriba/abajo   izquierda/derecha*/
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 2rem;
}

img {
    max-width: 100%; /* No crecerá mas de su tamaño natural */
    display: block; /* Elimina el margen inferior de la imagen */
    height: auto;
   /*  margin-bottom: calc(var(--separacion) /2);  borrar*/
}

/* Utilidades */
.text-center {
    text-align: center;
}

/* Degradados */
.degraded {
    background: linear-gradient(to right, var(--colorPrimario) 0%, var(--colorSecundario) 50%);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
}

.container {
    width: 90%;
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
}

/* Header */
.header {
    background-color: var(--colorNegro);
    padding: calc(var(--separacion) * 2) 0;
    color: var(--colorBlanco);
}

.header__text {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 992px) {  
    .container__header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--separacion);
    }

    h1 {
        font-size: 4rem;
    }

    .header__text{
        text-align: left;
        /* Alinear a la izquierda o centrado? */
    }
}

.header__product-tagline{
    font-weight: 700;
    font-size: 2.2rem;
}

.header__text h1,
.header__text p {
    margin: 0;
    padding: 1rem var(--separacion);
}

.header__product-price {
    font-weight: 700;
    font-size: 3.5rem;
}




